{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}

{% block title %}Travelista | Travel & Tour Agency{% endblock %}
{% block meta_description %}Discover amazing travel destinations and tour packages with Travelista. Book your next adventure today.{% endblock %}
{% block meta_keywords %}travel, tour, vacation, adventure, holiday packages, destination{% endblock %}
{% block og_title %}Travelista | Travel & Tour Agency{% endblock %}
{% block og_description %}Discover amazing travel destinations and tour packages with Travelista.{% endblock %}
{% block og_image %}{% static 'img/hero-bg.jpg' %}{% endblock %}
{% block twitter_title %}Travelista | Travel & Tour Agency{% endblock %}
{% block twitter_description %}Discover amazing travel destinations and tour packages with Travelista.{% endblock %}

{% block content %}

<!-- start banner Area -->
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6 banner-left">
                <h1 class="text-white">Welcome to our Weblog</h1>
                <p class="text-white">
                    Try Blog!
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->


<!-- Start blog Area -->
<section class="recent-blog-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-9">
                <div class="title text-center">
                    <h2 class="mb-10">Latest from Our Blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-recent-blog-carusel">
                {% latestblogposts %}
            </div>
        </div>
    </div>
</section>
<!-- End recent-blog Area -->

{% endblock %}